name: Deploy poke-hub to WordPress sites

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - name: jv-actu
            path: /var/www/jv-actu.com/htdocs/wp-content/plugins/poke-hub
          - name: poke-hub
            path: /var/www/poke-hub.fr/htdocs/wp-content/plugins/poke-hub
          - name: me5rine-lab
            path: /var/www/me5rine-lab.com/htdocs/wp-content/plugins/me5rine-lab

    steps:
      - name: Deploy poke-hub
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_WORDPRESS_HOST }}
          username: ${{ secrets.SSH_USER }}   # ubuntu
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e

            echo "Running git as www-data in ${{ matrix.target.path }}"

            sudo -u www-data bash -lc "
              if [ ! -d '${{ matrix.target.path }}' ]; then
                echo 'ERROR: path does not exist: ${{ matrix.target.path }}'; \
                exit 1; \
              fi; \
              cd '${{ matrix.target.path }}' && \
              if [ ! -d .git ]; then
                echo 'ERROR: .git directory not found'; \
                exit 1; \
              fi; \
              git fetch origin main && git reset --hard origin/main
            "

            echo "Deploy OK for ${{ matrix.target.path }}"
